@media (min-width: 40rem) {
    .mobile-navbar, .sideview-navbar__container {
        display: none !important;
    }

    .desktop-navbar {
        display: flex;
        width: 100%;
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #232963;
        color: white;
    
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
    }

    
    .navbar-item {
        margin: 0 1rem;
    }

    .navbar-item ul {
        display: flex;
        list-style-type: none;
    }

    .navbar-item ul li {
        margin: 0 1.5rem;
    } 

    .navbar-item ul li:hover {
    color: rgba(255, 255, 255, 0.635);
    }
} 