<link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/navbar/responsive.css') }}">
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

<div class="backdrop"></div>    
<div class="sideview-navbar__container">
    <nav class='sideview-navbar'>
        <div class="principal-menu">
            <h2>Principal</h2>
            <div class="home nav-link">
                <div class="icon"><i class="fa-solid fa-house"></i></div>
                <a href="{{ url_for('main.index') }}"><span class="menu-item">Home</span></a>
            </div>
            <div class="cidades nav-link">
                <div class="icon"><i class="fas fa-solid fa-location-crosshairs"></i></div>
                <a href="{{ url_for('main.cidades_info') }}"><span class="menu-item">Cidades</span></a>
            </div>
        </div>
    </nav>
</div>    

<!--navbar p/ mobile: -->
<nav class="mobile-navbar">
    <span class="navbar-item">
        <h1 class="website-tittle">WthCast</h1>
    </span> 
    <span class="toogle">
        <span class="trace"></span>
        <span class="trace"></span>
        <span class="trace"></span>
    </span>
</nav>

<!--navbar p/ desktop:-->
<nav class="desktop-navbar">
    <span class="navbar-item">
        <h1 class="website-tittle">WeatherQuery</h1>
    </span> 
    <span class="navbar-item">
        <ul>
            <a href="{{ url_for('main.index') }}"><li>Home</li></a>
            <a href="{{ url_for('main.cidades_info') }}"><li>Cidades</li></a>
                <!--Se o usuário tiver logado, fazer desaparecer essa opção. Mas aí, teria que fazer um elemento de profile do usuário!-->
                <!--Ideia: colocar o usuário no local do título do site, e ele podendo alterar as configurações dele clicando no ícone. Mas vou esperar aprender isso de login primeiro, para fazer melhor dps!!-->
        </ul>
    </span>
</nav>

<script src="{{ url_for('static', filename='js/widgets/navbar/toggle.js') }}"></script>
    <!--o js é usado para abrir e fechar a sideview-navbar com o toggle-->